{% extends "allauth/layouts/base.html" %}
{% load static heroicons %}
{% block content %}
  <div class="max-w-2xl mx-auto min-h-[calc(100dvh-180px)] max-h-[calc(100dvh-180px)] rounded-2xl shadow-xl border border-base-300 flex flex-col">
    {% if chat.chat_type != "private" %}
      <div class="text-center p-4 bg-primary rounded-t-2xl flex items-center gap-2 flex-wrap">
        <div class="flex items-center gap-2 font-semibold text-lg text-primary-content mr-auto">
          {% if chat.chat_type == "general" %}
            {% heroicon_solid "globe-alt" %}
          {% else %}
            {% heroicon_solid "user-group" %}
          {% endif %}
          <span>{{ chat.name }}</span>
        </div>
        {% if chat.chat_type == "group" %}
          {% if user == chat.owner %}
            <a href="{% url "chat:chat_edit" chat.identifier %}"
               class="btn btn-circle btn-primary btn-soft btn-sm">{% heroicon_outline "pencil-square" size=20 %}</a>
          {% else %}
            <button onclick="leave_chat_modal.showModal()"
                    class="btn btn-circle btn-primary btn-soft btn-sm">
              {% heroicon_outline "arrow-left-start-on-rectangle" size=20 %}
            </button>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    <div class="p-4 rounded-t-2xl flex items-center gap-4 border-b border-base-300">
      <!-- flex-wrap -->
      {% if chat.chat_type == "private" %}
        <a href="{% url "users:profile_detail" other_user.username %}"
           class="flex w-fit items-center gap-4 link link-hover decoration-primary underline-offset-2 mr-auto">
          {% include "account/partials/_avatar.html" with request_user=other_user avatar_size=50 %}
          <div class="flex flex-col">
            <span class="font-semibold -mb-1">{{ other_user.profile.name }}</span>
            <span class="opacity-50">@{{ other_user.username }}</span>
          </div>
        </a>
        <div id="online_user_status" class="hidden"></div>
      {% else %}
        <div class="overflow-x-auto">
          <div id="chat_members"
               class="flex items-center gap-2 whitespace-nowrap mr-auto">
            {% for member in chat.members.all %}
              <a href="{% url "users:profile_detail" member.username %}"
                 class="flex flex-col min-w-20 items-center gap-1 link link-hover decoration-primary underline-offset-2 mr-auto">
                {% include "account/partials/_avatar.html" with request_user=member avatar_size=40 %}
                <div class="font-medium truncate w-full text-center text-sm">{{ member.profile.name }}</div>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="badge badge-soft badge-success whitespace-nowrap">
          <div class="inline-grid *:[grid-area:1/1]">
            <div class="status status-success animate-ping"></div>
            <div class="status status-success"></div>
          </div>
          <div>
            <span id="online_count" class="loading loading-dots loading-xs"></span>
            <span>online</span>
          </div>
        </div>
      {% endif %}
    </div>
    <div id="messages_container" class="p-4 overflow-y-auto">
      {% for message in chat_messages %}
        {% include "chat/partials/_message-item.html" with current_user=user %}
      {% empty %}
        <div id="empty_chat_alert"
             class="alert alert-info alert-soft w-fit mx-auto">
          {% heroicon_outline "information-circle" %}
          <span>Este chat não possui nenhuma mensagem.</span>
        </div>
      {% endfor %}
    </div>
    <div class="mt-auto rounded-b-2xl p-4 border-t border-base-300">
      <form action="{% url "chat:chat" chat.identifier %}"
            id="message_form"
            method="post"
            class="flex gap-2"
            hx-ext="ws"
            ws-connect="/ws/chat/{{ chat.identifier }}/"
            ws-send>
        {% csrf_token %}
        {{ form.content }}
        <button type="submit" class="btn btn-square">{% heroicon_solid "paper-airplane" %}</button>
      </form>
    </div>
  </div>
  {% if chat.chat_type == "group" and user != chat.owner %}
    {% include "chat/partials/_leave-chat-modal.html" %}
  {% endif %}
  <script src="{% static "chat/js/chat-messages.js" %}"></script>
{% endblock content %}
