{% extends "allauth/layouts/base.html" %}
{% load static heroicons %}
{% block content %}
  <div class="max-w-2xl mx-auto min-h-[calc(100vh-180px)] max-h-[calc(100vh-180px)] rounded-2xl shadow-xl border border-base-300 flex flex-col">
    <div class="p-6 rounded-t-2xl flex items-center justify-between gap-4 flex-wrap border-b border-base-300">
      <div class="flex items-center gap-2 whitespace-nowrap">
        {% heroicon_solid "globe-alt" %}
        <h1 class="font-bold text-lg">Chat Geral</h1>
      </div>
      <div class="badge badge-outline badge-primary whitespace-nowrap">
        <div class="inline-grid *:[grid-area:1/1]">
          <div class="status status-primary animate-ping"></div>
          <div class="status status-primary"></div>
        </div>
        <span>5 online</span> <!-- This should be dynamic based on actual online users -->
      </div>
    </div>
    <div id="messages_container" class="p-6 overflow-y-auto">
      {% for message in chat_messages %}
        {% include "chat/partials/_message.html" %}
      {% empty %}
        <div class="alert alert-info alert-soft w-fit mx-auto">
          {% heroicon_outline "information-circle" %}
          <span>Este chat não possui nenhuma mensagem.</span>
        </div>
      {% endfor %}
    </div>
    <div class="mt-auto rounded-b-2xl p-4 border-t border-base-300">
      <form action="{% url "chat:chat" %}"
            id="message_form"
            method="post"
            class="flex gap-2"
            hx-post="{% url "chat:chat" %}"
            hx-target="#messages_container"
            hx-swap="beforeend">
        {% csrf_token %}
        {{ form.content }}
        <button type="submit" class="btn btn-square">{% heroicon_solid "paper-airplane" %}</button>
      </form>
    </div>
  </div>
  <script src="{% static "chat/js/chat-messages.js" %}"></script>
{% endblock content %}
