<div class="chat gap-y-1.5 animate-in fade-in duration-500 {% if message.sender == user %}chat-end{% else %}chat-start{% endif %}">
  <a href="{% url "users:profile_detail" message.sender.username %}"
     class="chat-image">
    {% include "account/partials/_avatar.html" with request_user=message.sender avatar_size=40 %}
  </a>
  <div class="chat-header text-xs">
    <span>{{ message.sender.profile.name }}</span>
    <span class="opacity-50">@{{ message.sender.username }}</span>
  </div>
  <div class="chat-bubble break-words {% if message.sender == user %}bg-primary text-primary-content{% endif %}">
    {{ message.content }}
  </div>
  <div class="chat-footer">
    <time class="text-xs opacity-50">{{ message.created_at|date:"G:i" }}</time>
  </div>
</div>
