{% extends "allauth/layouts/base.html" %}
{% block content %}
  <div class="text-center mb-8">
    <h1 class="font-bold text-2xl mb-1">Redefinição de senha</h1>
    <p class="opacity-50">Esqueceu sua senha? Coloque o seu endereço de e-mail abaixo.</p>
  </div>
  {% if user.is_authenticated %}
    {% include "account/partials/_logged-in-user-warning.html" %}
  {% endif %}
  <form action="{% url "account_reset_password" %}"
        method="post"
        class="flex flex-col gap-4 mx-auto max-w-sm mb-4">
    {% csrf_token %}
    {% for field in form %}
      <label class="floating-label">
        <span>{{ field.label }}</span>
        {{ field }}
      </label>
      {% if field.errors %}
        {% for error in field.errors %}<p role="alert" class="alert alert-error alert-soft">{{ error }}</p>{% endfor %}
      {% endif %}
    {% endfor %}
    <div class="flex gap-2 flex-wrap">
      <a class="btn btn-soft flex-1" href="{% url "account_login" %}">Cancelar</a>
      <button class="btn btn-primary flex-1" type="submit">Redefinir senha</button>
    </div>
  </form>
  <p class="text-center text-sm">Entre em contato conosco se tiver problemas para redefinir sua senha.</p>
{% endblock content %}
