{% extends "allauth/layouts/base.html" %}
{% block content %}
  <div class="text-center mb-8">
    <h1 class="font-bold text-2xl mb-1">Alteração de senha</h1>
    <p class="opacity-50">Preencha os campos abaixo para alterar sua senha.</p>
  </div>
  <form action="{% url "account_change_password" %}"
        method="post"
        class="flex flex-col gap-4 mx-auto max-w-sm mb-4">
    {% csrf_token %}
    {% for field in form %}
      <label class="floating-label">
        <span>{{ field.label }}</span>
        {{ field }}
      </label>
      {% if field.errors %}
        {% for error in field.errors %}<p role="alert" class="alert alert-error alert-soft">{{ error }}</p>{% endfor %}
      {% endif %}
    {% endfor %}
    <div class="flex gap-2 flex-wrap">
      <a class="btn btn-soft flex-1" href="{% url "users:settings" %}">Cancelar</a>
      <button class="btn btn-primary flex-1" type="submit">Alterar senha</button>
    </div>
  </form>
  <p class="text-center text-sm">
    Esqueceu sua senha atual? <a href="{% url 'account_reset_password' %}"
    class="link link-primary link-hover">Redefina ela.</a>
  </p>
{% endblock content %}
