{% extends "allauth/layouts/base.html" %}
{% load heroicons %}
{% block content %}
  <div class="text-center mb-8">
    <h1 class="font-bold text-2xl mb-1">Redefinição de senha</h1>
    {% if not token_fail %}<p class="opacity-50">Preencha os campos abaixo com a nova senha.</p>{% endif %}
  </div>
  {% if token_fail %}
    <div class="flex flex-col items-center gap-4">
      <div role="alert" class="alert alert-soft alert-error">
        {% heroicon_outline "x-circle" %}
        <div>
          <h3 class="font-bold">Token inválido!</h3>
          <div>
            O link para redefinição de senha é inválido, possivelmente porque já foi utilizado. Solicite uma nova redefinição de senha clicando abaixo.
          </div>
        </div>
      </div>
      <a class="btn btn-primary" href="{% url "account_reset_password" %}">Redefinir senha</a>
    </div>
  {% else %}
    <form action="{{ action_url }}"
          method="post"
          class="flex flex-col gap-4 mx-auto max-w-sm">
      {% csrf_token %}
      {% for field in form %}
        <label class="floating-label">
          <span>{{ field.label }}</span>
          {{ field }}
        </label>
        {% if field.errors %}
          {% for error in field.errors %}<p role="alert" class="alert alert-error alert-soft">{{ error }}</p>{% endfor %}
        {% endif %}
      {% endfor %}
      <div class="flex gap-4 flex-wrap">
        <button form="logout-from-stage" class="btn btn-soft flex-1" type="submit">Cancelar</button>
        <button class="btn btn-primary flex-1" type="submit">Redefinir senha</button>
      </div>
    </form>
    <form id="logout-from-stage"
          action="{% url "account_logout" %}"
          method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'account_login' %}">
    </form>
  {% endif %}
{% endblock content %}
