{% extends "allauth/layouts/base.html" %}
{% load avatar_tags %}
{% block content %}
  <div class="flex flex-col gap-4 items-center">
    {% include "account/partials/_avatar.html" with request_user=user_ avatar_size=208 %}
    <div class="flex flex-col items-center">
      <span class="font-bold text-2xl">{{ user_.profile.name }}</span>
      <span class="text-primary text-sm">@{{ user_.username }}</span>
    </div>
    <div class="text-center max-w-2xl">
      {% if user_.profile.bio %}
        <p>{{ user_.profile.bio }}</p>
      {% else %}
        <p class="opacity-50">Sem biografia disponível.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
