@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: night --default;
}
@plugin "tailwindcss-animate";

@source "../../../**/*.{html,py,js}";

@theme {
  --font-inter: "Inter", sans-serif;
}

@utility avatar-offline {
  &::before {
    content: "";
    @apply absolute z-[1] block rounded-full bg-neutral outline-2 outline-base-100 -outline-offset-1 size-[20%] top-[5%] right-[5%];
  }
}

@utility avatar-online {
  &::before {
    content: "";
    @apply absolute z-[1] block rounded-full bg-success outline-2 outline-base-100 -outline-offset-1 size-[20%] top-[5%] right-[5%];
  }
}
