{% load static tailwind_tags django_htmx %}
<!DOCTYPE html>
<html lang="pt-BR" class="font-inter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProseiAê!</title>
    {% tailwind_css %}
    <script src="{% static "global/js/theme.js" %}"></script>
    {% htmx_script %}
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body class="min-h-dvh flex flex-col"
        hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% include "global/partials/_navbar.html" %}
    {% if messages %}
      {% include "global/partials/_messages.html" %}
    {% endif %}
    <div class="max-w-[1280px] mx-auto px-4 py-8 w-full">
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
    {% include "global/partials/_footer.html" %}
    {% include "global/partials/_logout-modal.html" %}
    {% if messages %}
      <script src="{% static "global/js/messages.js" %}"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    {% block extra_body %}{% endblock extra_body %}
  </body>
</html>
